body {
  padding: 5px;
}

.drap-div {
  position: absolute;
  z-index: 9;
  text-align: center;
  display: flex;
}

.drap-div-header {
  padding: 13px 5px 5px 5px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  max-height: 42px;
}

.sub-tool-area {
  border: 1px solid #d3d3d3;
  background-color: #fff;
  padding: 5px;
}


/* Images List */
.image-area {
  height: calc(100% - 170px);
}

.image-list {
  height: 100%;
  max-width: 100%;
  /* background-color: #fff; */
  /* margin: 0 5px 0 5px; */
  overflow: auto;
}

.list-group-cus {
  height: 100%;
  background-color: #fff;
  border-right: 1px solid rgba(0,0,0,.125);
}

.list-group-cus > .list-group-item {
  border: none !important;
  text-align: center;
  padding: .25rem .5rem !important;
}

.image-item {
  max-width: 100%;
  max-height: 100%;
}


.image-canvas {
  max-height: 100%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.upload-button-item {
   background-color: blanchedalmond;
   padding: 0px;
}


/* custom tui-editor */
.tui-image-editor-canvas-container {
  border: none !important;
}